<div class="position-sticky pt-3">
	<ul class="nav flex-column">
		{% if is_granted('ROLE_SUPERADMIN') %}
			<li class="nav-item">
				<a href="{{ path('app_admin_espacio_index') }}" class="nav-link ">
					<span data-feather=""></span>
					Espacios
				</a>
			</li>
		{% endif %}
		<hr>
		<li class="nav-item">
			<a href=" {{ path('app_admin_categoria_index') }} " class="nav-link">
				<span data-feather=""></span>
				Categorias
			</a>
		</li>
		<hr>
		<li class="nav-item">
			<a href=" {{ path('app_admin_entrada_index') }} " class="nav-link">
				<span data-feather="aperture"></span>
				Entradas
			</a>
		</li>
		<hr>
		<li class="nav-item">
			<a href=" {{ path('app_admin_etiqueta_index') }} " class="nav-link">
				<span data-feather="award"></span>
				Etiquetas
			</a>
		</li>
		<hr>
		<li class="nav-item">
			<a href=" {{ path('app_admin_comentario_index') }} " class="nav-link">
				<span data-feather="check-circle"></span>
				Comentarios
			</a>
		</li>
		<hr>
		<li class="nav-item">
			<a href=" {{ path('app_admin_usuario_index') }} " class="nav-link">
				<span data-feather="filter"></span>
				Usuarios
			</a>
		</li>

	</ul>
</div>
